html, body {
    height: 100%;
    width: 100%;

    font-size: 16px;
    font-family: "Comic Sans MS", "Lucida Sans Unicode", sans-serif;
}

input {
    outline: none;

    font-size: 16px;
    font-family: "Comic Sans MS", "Lucida Sans Unicode", sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;

    height: 100%;
}

.one-week-wrap {
    display: flex;

    border: 1px solid black;
    border-radius: 5px;
    background: #973de2;
}

.intended {
    background: white;
}

.actual {
    background: rgb(201, 163, 226);
}
.date-wrapper {
    position:relative;
    height: 10%;
}
.weekday {
    position: absolute;
    left: 0;

    color: white;
}
.date {
    position: absolute;
    right: 0;

    text-align: center;
    background: inherit;
    color: rgba(255, 255, 255, 0.74);
}
.datepicker{
    height: auto;
    width: 100%;
    border: none;

    text-align: center;
    cursor: pointer;

    background: inherit;
    color: white;
    font-size: 16px;
}

.time-wrapper {
    display: grid;
    grid-template-areas:
            "from hours"
            "to hours";
    grid-template-columns: 70% auto;

    height: 45%;
    border-radius: 3px;
}

.time-header {
    height: 45%;
}
.actual-time {
    background: rgb(201, 163, 226);
}
.time__from {

}
.time__from .intended {
    height: auto;
    margin:2px;
    border-radius: 3px;
    border: 2px solid rgb(201, 163, 226);
    cursor: pointer;
}
/*desktop*/
@media (min-width: 768px) {
    .one-week-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        width: 60%;
        height: 30%;
        //padding: 3px;

        border: 1px solid black;
        border-radius: 5px;
        background: #973de2;
    }

    .table-header-column,
    .day-wrapper,
    .sum-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin:2px;
    }
    .table-header-column,
    .day-wrapper{
        width: 13%;
    }
    .sum-wrapper {
        width: 9%;
    }
    .sum-header{
        height:10%;
    }
    .choose-week{
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 10%;
        text-align: center;
        background: #973de2;

    }

    .choose-week--highlited {
        border:3px solid white;
        border-radius: 3px;

        box-shadow: 0 0 0 99999px rgba(11, 11, 11, 0.49);
        font-weight: 500;
    }

    #choose-week-tooltip:before{
        content: attr(data-description);
        display:none;
        position: absolute;
        right: 30px;
        bottom: 50px;

        height:0;
        width: 0;
        padding: 10px;
        border: 2px solid #7e06e2;
        border-radius:5px;

        background: rgb(239, 212, 245);
        opacity:0;
        color:black;
        font-weight: 100;
        font-size: 20px;
    }
    #choose-week-tooltip:after {
        content: '';
        display:none;
        position: absolute;
        bottom: 42px;

        height: 0;
        width: 0;
        -webkit-transform: rotate(45deg);

        border-bottom: 2px solid #7e06e2;
        border-right:  2px solid #7e06e2;
        background: rgb(239, 212, 245);
        opacity:0;
    }
    #choose-week-tooltip:hover:after{
        display:block;
        opacity:1;
        z-index: -1;

        height: 15px;
        width: 15px;
    }
    #choose-week-tooltip:hover:before{
        display:block;
        opacity:1;
        z-index: -1;
        /*box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);*/

        height:60px;
        width: 200px;
    }
    #choose-week-tooltip:hover{
        z-index:1;
        border:3px solid white;
        border-radius: 3px;
    }

    .header-fields {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        //padding: 10px;
        border-radius: 3px;
    }

    .time-description {
        display:none;
    }

    .time__from{
        grid-area: from;
        display: flex;
        align-items: center;
    }

    .time__to {
        grid-area: to;
        display: flex;
        align-items: center;
    }
    .number-of-hours {
        grid-area: hours;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .time-picker-input {
        width: 100%;
        height: auto;
        border: none;

        text-align: center;
        cursor: pointer;

        background: inherit;
        font-weight: bold;
        font-family: inherit;
        //font-size: 95%;
    }

}

/*mobile portrait*/
@media (max-width: 767px) and (orientation: portrait) {
    .wrapper {
        background: #a061e2;
    }
    h1 {
        color:white;
    }
    .one-week-wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        height: 90%;
        width: 100%;
    }

    .time-header {
        display:none;
    }
    .table-header-column,
    .day-wrapper,
    .sum-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin:2px;
    }
}

/*mobile*/
@media (max-width: 767px) and (orientation: landscape) {
    .one-week-wrap{

    }
}