html, body {
    height: 100%;
    width: 100%;

    font-size: 16px;
    font-family: "Comic Sans MS", "Lucida Sans Unicode", sans-serif;
    margin:0;
    padding:0;
}

input {
    outline: none;
    display:block;
    box-sizing: border-box;

    height: 100%;
    width: 100%;

    font-size: 16px;
    font-family: "Comic Sans MS", "Lucida Sans Unicode", sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;

    height: 100%;
}

.intended {
    background: white;
}

.actual {
    background: rgb(201, 163, 226);
}
.date-wrapper {
    position:relative;
    height: 10%;
}
.weekday {
    position: absolute;
    left: 10px;

    color: white;
}
.date {
    height: 100%;
    width: 60%;
    border: none;
    position: absolute;
    right: 10px;

    text-align: center;
    background: inherit;
    color: rgba(255, 255, 255, 0.74);
}
.datepicker{
    height: auto;
    width: 100%;
    border: none;

    text-align: center;
    cursor: pointer;

    background: inherit;
    color: white;
    font-size: 16px;
}
.sum-wrapper{
    color:white;
    text-align: center;
}
.time {
    display: grid;
    grid-template-areas:
            "from hours"
            "to hours";
    grid-template-columns: 70% auto;

    height: 50%;
    margin:2px;
    border-radius: 3px;
}

.time-intended {
    height: auto;
    margin:2px;
    border-radius: 3px;
    border: 2px solid rgb(201, 163, 226);
    cursor: pointer;
}
.time-actual {
    height: auto;
    margin:2px;
    border-radius: 3px;
    border: 2px solid white;
    cursor: pointer;
}
.time__from{
    grid-area: from;
    display: flex;
    align-items: center;
}

.time__to {
    grid-area: to;
    display: flex;
    align-items: center;
}
.number-of-hours {
    grid-area: hours;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time-picker-input {
    width: 100%;
    height: auto;
    border: none;

    text-align: center;
    cursor: pointer;

    background: inherit;
    font-weight: bold;
    font-family: inherit;
}

/*desktop*/
@media (min-width: 768px) {
    .one-week-wrap{
        display: flex;
        flex-direction: row;
        justify-content: stretch;

        width: 60%;
        height: 30%;
        padding: 2px;

        border: 1px solid black;
        border-radius: 5px;
        background: #973de2;
    }

    .table-header-column,
    .day-wrapper,
    .sum-wrapper {
        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        height: 100%;
    }

    .table-header-column,
    .day-wrapper{
        width: 15%;
    }

    .sum-wrapper {
        width: 10%;
    }

    .sum-header,
    .date-wrapper,
    .choose-week{
        box-sizing: border-box;
        height:10%;
        width:100%;
        margin: 2px;
    }

    .time-wrapper,
    .header-fields,
    .sum-values{
        display:flex;
        flex-direction: column;
        justify-content: stretch;
        box-sizing: border-box;
        height: 84%;
    }

    .time-header,
    .sum-hours-value{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        margin:2px;
        padding:10px;
        border-radius: 3px;
    }
    .choose-week{
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        text-align: center;
        background: #973de2;

    }

    .choose-week--highlited {
        border:3px solid white;
        border-radius: 3px;

        box-shadow: 0 0 0 99999px rgba(11, 11, 11, 0.49);
        font-weight: 500;
    }

    #choose-week-tooltip:before{
        content: attr(data-description);
        display:none;
        position: absolute;
        right: 30px;
        bottom: 50px;

        height:0;
        width: 0;
        padding: 10px;
        border: 2px solid #7e06e2;
        border-radius:5px;

        background: rgb(239, 212, 245);
        opacity:0;
        color:black;
        font-weight: 100;
        font-size: 20px;
    }
    #choose-week-tooltip:after {
        content: '';
        display:none;
        position: absolute;
        bottom: 42px;

        height: 0;
        width: 0;
        -webkit-transform: rotate(45deg);

        border-bottom: 2px solid #7e06e2;
        border-right:  2px solid #7e06e2;
        background: rgb(239, 212, 245);
        opacity:0;
    }
    #choose-week-tooltip:hover:after{
        display:block;
        opacity:1;
        z-index: -1;

        height: 15px;
        width: 15px;
    }
    #choose-week-tooltip:hover:before{
        display:block;
        opacity:1;
        z-index: -1;

        height:60px;
        width: 200px;
    }
    #choose-week-tooltip:hover{
        z-index:1;
        border: 2px solid white;
        border-radius: 3px;
    }

    .time-description {
        display:none;
    }



}
